<form method="POST" action="/books/">
            <p>Bookname</p>
            <input type="text" name="username"/>
            <p>Author</p>
            <input type="text" name="password"/>
            <button type="submit">Submit</button>
        </form>